<div class='header'>
  <h2>Movie Ratings!</h2>
  <p>Add and rate movies at your leisure! .</p>
  <div class='header-links'>
    <LinkTo @route='movies' class='button'>Add Movie</LinkTo>

    <LinkTo @route='reviews' class='button'>Add Review</LinkTo>

  </div>

</div>